<%= stylesheet_link_tag "auth/registrations/layout", :media => "all" %>

<h1>新規会員登録</h1>
<h1>事業所情報を登録してください。</h1>
  <form>
    <%= form_for(@user, url: api_v1_user_registration_path, method: :POST) do |f|%>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "enter Name", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.text_field :email, placeholder: "enter Email", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.text_field :password, placeholder: "enter password(minimum: 8)", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.text_field :password_confirmation, placeholder: "password_confirmation(minimum: 8)", class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.submit "submit", class: "btn btn-primary"%>
      </div>
      <div class="form-group">
        <%= link_to new_api_v1_user_session_path do%>
          <button type="submit" class="btn btn-primary btn-block">ログインはこちらから</button>
        <% end %>
      </div>
      <% end %>
  </form>
